<script>
$(function() {
    // this code taken from CSS Tricks
    // at
    // https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
    // with two slight modifications
    // first is adding a selector for iframes coming from facebook and spotify, and
    // second is replacing the selector that defines $fluidEl with .wrapper instead of .body or figure which
    // are both alternatively used in the original source
    // A third change I shied away from was adding 'img' to the list of selectors that
    // define the array of $allVideos --- partly because of the semantic dissonance of adding an animated .gif to a list called $allVideos

    var $allVideos = $("iframe[src*='//embed.spotify.com'], iframe[src*='//www.facebook.com/plugins/video'], iframe[src*='//player.vimeo.com'], iframe[src*='//www.youtube.com'], object, embed"),
    $fluidEl = $(".wrapper");

        $allVideos.each(function() {

          $(this)
            // jQuery .data does not work on object/embed elements
            .attr('data-aspectRatio', this.height / this.width)
            .removeAttr('height')
            .removeAttr('width');

        });

        $(window).resize(function() {

          var newWidth = $fluidEl.width();
          $allVideos.each(function() {

            var $el = $(this);
            $el
                .width(newWidth)
                .height(newWidth * $el.attr('data-aspectRatio'));

          });

        }).resize();
});
</script>
